
  .f_pr{position:relative;}
.f_pa{position:absolute;}
em{font-style:normal;}
.content{width: 83.333333%;margin:0 auto;}
.content3{width: 1200px;margin:0 auto;}

    .g_top{ height:5.5rem;position: relative;overflow: hidden;background: #fff;}
    .g_top .tlogo{ float:left;width:10%;padding:0 0.5% 0 3%; display: table; height: 5.5rem;}
    .g_top .tlogo a{ display: table-cell; vertical-align: middle; }
    .g_top .tlogo img{width: 100%; max-height: 5.5rem; display: inline-block;}

    .g_top h2{ float:left; width:30.7%; padding-top: 1.2rem;}
    .g_top h2 em{ height:1.6rem; color:#282828; font-size: 1rem; line-height: 1.6rem;display: block; font-weight: normal;}
    .g_top h2 b{ height:1.6rem; color:#282828; font-size: 1rem; line-height: 1.6rem; font-weight: bold; display: block;}

    .g_top .tel{position: absolute;right:6%;top:1.4rem;line-height:1.5rem;background: #e9eef4;border-radius: 1rem;width: 16%;}
    .g_top .tel b{line-height: 1.5rem; line-height: 1.5rem; position: relative;padding-left: 1.6rem;font-size:0.8rem;color:#282828;font-weight: normal;}
    .g_top .tel b:before{content: "";position: absolute;background:url(../images/tel.png) no-repeat;background-size: cover;width:1rem;height:1rem;left:0.5rem;top:0.01rem;}

    .g_nav{float: left;width:52%;overflow: hidden; margin-top: 3rem;}
    .g_nav li a{display: block; position: relative; float:left; height:2.5rem;line-height: 2.5rem; font-size:0.9rem;color:#282829; padding: 0 0.9%; margin:0 1%; }
      .g_nav li a:before{content: "";position: absolute;width:0;height: 0.15rem;background: #7fb435;left:0;bottom: 0;transition: all 0.3s linear 0s;}
      .g_nav li a:hover,.g_nav .cur a{color:#285c92;font-weight: bold; }
      .g_nav li a:hover:before,
      .g_nav .cur:before{width:100%;}

      .g_top.headFix{background:#fff;position: fixed;left: 0;top: 0;box-shadow:0 10px 10px 0 rgba(0,0,0,0.05);z-index: 99; width: 100%;  /*padding: 0 10%;*/}

      /*.g_top.headFix .tel {display: none;}*/
      /*.g_top.headFix .tlogo{ float:left;width:13%;padding:0 0.5% 0 0; display: table; height: 4rem;}*/
      /*.g_top.headFix .g_nav{float: right;width:72%;overflow: hidden; margin-top: 1rem;}*/
      /*.g_top.headFix .g_nav li a{ padding: 0 1.8%; }*/
      
      
      


@media screen and (min-width:1263px){html{font-size:calc(1263px * 20 / 1903)}
}
@media screen and (min-width:1349px){html{font-size:calc(1349px * 20 / 1903)}
}
@media screen and (min-width:1463px){html{font-size:calc(1463px * 20 / 1903)}
}
@media screen and (min-width:1543px){html{font-size:calc(1543px * 20 / 1903)}
}
@media screen and (min-width:1583px){html{font-size:calc(1583px * 20 / 1903)}
}
@media screen and (min-width:1643px){html{font-size:calc(1643px * 20 / 1903)}
}
@media screen and (min-width:1663px){html{font-size:calc(1663px * 20 / 1903)}
}
@media screen and (min-width:1903px){html{font-size:calc(1903px * 20 / 1903)}
}


  

        .ty-banner-1 {
            position: relative;
            overflow: hidden;
            line-height: 0;
            text-align:center;
        }
        .ty-banner-1 img{ 
            top: 0;
            left: 50%; width: 100%;display: block;
        
        }
        .ty-banner-1 img.show{
            visibility: visible;
        }
    

    .p102-search-1 {
        height: 70px;
        border-bottom: 1px solid #ededed;
        background: #f7f7f7;
    }
    
    .p102-search-1 p {
        float: left;
        width: 750px;
        height: 70px;
        line-height: 70px;
        font-size: 14px;
        color: #333333;
    }
    
    .p102-search-1 p b {
        display: inline-block;
    }
    
    .p102-search-1 p a {
        color: #666666;
        display: inline-block;
        margin-right: 15px;
    }
    .p102-search-1 p a:hover{color: #174778;}
    .p102-search-1-inp {
        float: right;
        width: 356px;
        height: 36px;
        background: #fff;
        margin-top: 18px;
        border-radius: 25px;
        position: relative;
    }
    
    .p102-search-1-inp:before,
    .p102-search-1-inp:after {
        content: '';
        position: absolute;
        width: 80%;
        height: 1px;
        background: #e3e3e3;
        left: 10%;
        z-index: 0;
    }
    
    .p102-search-1-inp:before {
        top: 0;
    }
    
    .p102-search-1-inp:after {
        bottom: 0;
    }
    
    .p102-search-1-inp1 {
        width: 249px;
        height: 34px;
        line-height: 34px;
        color: #999999;
        border: 1px solid #e3e3e3;
        border-right: 0;
        padding: 0 20px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        float: left;
    }
    
    .p102-search-1-inp2 {
        width: 66px;
        height: 36px;
        border: 0;
        border-radius: 25px;
        background: url(../images/p102-search-icon1.png) no-repeat center center #174778;
        float: right;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }


		.plc{padding: 5px 0 25px;}
		.p12-curblock{
			display: none;
		}
		.p102-curmbs-1{height: 40px;line-height: 40px;font-size: 14px;color: #808080;}
		.p102-curmbs-1 b {
			font-weight: normal;
			padding-left: 35px;
			background: url(../images/p102-curmbs-icon1.png) no-repeat left center;

		}
		.p102-curmbs-1 i {
			font-style: normal;
		}

		.p102-curmbs-1 span {
			font-family: 宋体;
			height: 46px;
			line-height: 46px;
			padding: 0px 5px;
		}
		.p102-curmbs-1 a{color: #808080;}
		.p102-curmbs-1 a:hover{color: #174778;}
	

    .p102-fdh-3 {
        display:none;
        height: 100px;
        box-shadow: 0 4px 6px #e9e9e9;
    }
    
    .p102-fdh-3 li {
        float: left;
        width: 10%;
        height: 100px;
        position: relative;
    }
    
    .p102-fdh-3 li:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 26px;
        background: #cfcfcf;
        right: 0;
        top: 50%;
        margin-top: -13px;
    }
    
    .p102-fdh-3 li:last-child:after {
        display: none;
    }
    
    .p102-fdh-3 li a {
        display: block;
        height: 100px;
        line-height: 100px;
        font-size: 20px;
        color: #1a1a1a;
        text-align: center;
    }
    
    .p102-fdh-3 li.sidenavcur:before,
    .p102-fdh-3 li:hover:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #174778;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    
    .p102-fdh-3 li.sidenavcur a,
    .p102-fdh-3 li:hover a {
        font-weight: bold;
        color: #174778;
    }
    
    .p102-fdh-3 li.sidenavcur a:before,
    .p102-fdh-3 li:hover a:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: #fff;
        border: 3px solid #174778;
        border-radius: 100%;
        left: 50%;
        margin-left: -9px;
        bottom: -8px;
        z-index: 2;
    }
    
    .p102-fdh-3 li.sidenavcur a:after,
    .p102-fdh-3 li:hover a:after {
        content: "";
        position: absolute;
        width: 6px;
        height: 6px;
        background: #174778;
        border-radius: 100%;
        left: 50%;
        margin-left: -3px;
        bottom: -2px;
        z-index: 3;
    }


    .p102-about-content{font-size: 16px;line-height: 32px;color: #4c4c4c;text-align: justify;padding: 40px 0;}


 .g_ft{position:relative;}
    .g_ft .dban{position:relative}
    .g_ft .dban .xban,.g_ft .dban .xban img{width:100%;display:block}
    .g_ft .dban h3{position:absolute;width:84%;left:8.3%;top:2.6rem}
    .g_ft .dban h3 b{display:block;font-size:2.4rem;font-weight:400;line-height:4rem;color:#174779}
    .g_ft .dban h3 em{display:block;font-size:2.4rem;font-weight:400;line-height:3.5rem;color:#174779;font-weight:700}
    .g_ft .m_ft{background:#0b223c url(../images/ftbg2.jpg) no-repeat center bottom;background-size:1920px 100%;position:relative}
    .g_ft .m_ft:after{content:"";position:absolute;background:rgba(255,255,255,.5);width:100%;height:1px;left:0;top:6.5rem;z-index:1;transition:all .3s linear 0s}
    .g_ft .m_ft:before{content:"";position:absolute;background:rgba(255,255,255,.5);width:100%;height:1px;left:0;bottom:2rem;z-index:1;transition:all .3s linear 0s}
    .g_ft .m_ft .ftlogo{height:8.5rem;}
    .g_ft .m_ft .ftlogo .flogo{float:left;width:18%;padding-top:1.2rem}
    .g_ft .m_ft .ftlogo .flogo img{width:100%;display:block}
    .g_ft .m_ft .ftlogo .flogor{float:right;width:35%;margin-top:3rem}
    .g_ft .m_ft .ftlogo .flogor .codelst{float:left;width:19%}
    .g_ft .m_ft .ftlogo .flogor .codelst li{float:left;width:1.4rem;margin-right:.25rem;position:relative}
    .g_ft .m_ft .ftlogo .flogor .codelst li i{width:100%;display:block}
    .g_ft .m_ft .ftlogo .flogor .codelst li i img{width:100%;display:block}
    .g_ft .m_ft .ftlogo .flogor .codelst li em{position:absolute;width:6.5rem;background:#fff;padding:.3rem;left:50%;top:2.1rem;display:none;margin-left:-3.25rem;z-index:12}
    .g_ft .m_ft .ftlogo .flogor .codelst li em img{width:100%;display:block;}
    .g_ft .m_ft .ftlogo .flogor .codelst li:hover em{display:block}
    .g_ft .m_ft .ftlogo .flogor .codelst li:hover em:before{content:"";position:absolute;width:0;height:0;border-style:solid;border-width:0 .6rem .6rem .6rem;border-color:transparent transparent #fff transparent;left:50%;top:-.4rem;margin-left:-.9rem}
    .g_ft .m_ft .ftlogo .flogor .ftel{font-size:1.4rem;font-weight:400;line-height:1.5rem;color:#fff;float:left}
    .g_ft .ftmid{height:12rem}
    .g_ft .ftmid .ftnav{float:left;width:76%}
    .g_ft .ftmid .ftnav dl{float:left;position:relative}
    .g_ft .ftmid .ftnav dl:after{content:"";position:absolute;background:rgba(255,255,255,.3);width:1px;height:9rem;right:0;top:.6rem;z-index:11;transition:all .3s linear 0s}
    .g_ft .ftmid .ftnav dl dt a{display:block;font-size:.95rem;font-weight:400;line-height:1.6rem;color:#fff;margin-bottom:.8rem}
    .g_ft .ftmid .ftnav dl dd a{display:block;font-size:14px;font-weight:400;line-height:1.5rem;color:#fff}
    .g_ft .ftmid .ftnav dl dd a:hover{color:#fff;font-weight:bold;}
    .g_ft .ftmid .ftnav dl:nth-child(1){width:12.5%;margin-right:7.5%}
    .g_ft .ftmid .ftnav dl:nth-child(2){width:42.5%;margin-right:6%}
    .g_ft .ftmid .ftnav dl:nth-child(2) dd a{float:left;width:33%}
    .g_ft .ftmid .ftnav dl:nth-child(3){width:24%}
    .g_ft .ftmid .ftnav dl:nth-child(3) dd a{float:left;width:45%}
    .g_ft .ftmid .add{float:left;width:24%}
    .g_ft .ftmid .add h3{font-size:1.2rem;font-weight:400;line-height:2rem;color:#fff;margin-bottom:0.2rem}
    .g_ft .ftmid .add .addlst{font-size:14px;font-weight:400;line-height:1rem;color:#fff;margin-bottom:1.2rem}
    .g_ft .ftmid .add .addcode li{float:left;width:27%;border:.4rem solid #fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-right:9%}
    .g_ft .ftmid .add .addcode li img{width:100%;display:block}
    .g_ft .ftmid .add .addcode li:nth-child(3){margin-right:0}
    .g_ft .ftd{height:2rem;font-size:14px;font-weight:400;line-height:2rem;color:#fff;position:relative;z-index:999;}
    .g_ft .ftd a{color:#fff}
  

    .xin-2112-client-1 {
        width: 76px;
        position: fixed;
        right: 0;
        top: 50%;
        z-index: 999;
        color: #333;
        background: #fff;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }
    
    .xin-2112-client-1 li {
        width: 76px;
        border-radius: 2px;
        position: relative;
        cursor: pointer;
        padding: 10px 0 13px;
    }
    
    .xin-2112-client-1 li.my-kefu-top {
        display: none;
    }
    
    .xin-2112-client-1 li a {
        display: block;
        height: 100%;
        text-decoration: none;
        color: #333;
    }
    
    .xin-2112-client-1 li i {
        display: block;
        width: 38px;
        height: 37px;
        overflow: hidden;
        margin: 0 auto;
        background: url("../images/xin-2112-client-icon.png") no-repeat;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
    }
    
    .xin-2112-client-1 li.my-kefu-tel i {
        background-position: 0 0;
    }
    
    .xin-2112-client-1 li.my-kefu-link i {
        background-position: 0 -47px;
    }
    
    .xin-2112-client-1 li.my-kefu-qq i {
        background-position: 0 -94px;
    }
    
    .xin-2112-client-1 li.my-kefu-weixin i {
        background-position: 0 -141px;
    }
    
    .xin-2112-client-1 li.my-kefu-top i {
        background-position: 0 -188px;
    }
    
    .xin-2112-client-1 li .client-2112-cont {
        width: 160px;
        padding: 14px 14px 14px 70px;
        position: absolute;
        right: 85px;
        top: 4px;
        color: #fff;
        font-size: 18px;
        height: 32px;
        line-height: 32px;
        text-align: left;
        background: #174778;
        display: none;
    }
    
    .xin-2112-client-1 li .client-2112-cont:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        margin-top: -7px;
        right: -7px;
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        border-left: 7px solid #174778;
    }
    
    .xin-2112-client-1 li .client-2112-cont:before {
        content: "";
        position: absolute;
        width: 38px;
        height: 38px;
        background: url("../images/xin-2112-client-icon.png") no-repeat;
        left: 25px;
        top: 50%;
        margin-top: -19px;
        z-index: 1;
    }
    
    .xin-2112-client-1 li .client-2112-cont-weixin {
        width: 115px;
        padding: 14px;
        position: absolute;
        right: 85px;
        top: -28px;
        background: #fff;
        display: none;
    }
    
    .xin-2112-client-1 li .client-2112-cont-weixin:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        margin-top: -7px;
        right: -7px;
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        border-left: 7px solid #fff;
    }
    
    .xin-2112-client-1 li .client-2112-cont-weixin img {
        width: 115px;
        height: 115px;
        display: block;
    }
    
    .xin-2112-client-1 li.my-kefu-tel .client-2112-cont:before {
        background-position: -70px 0;
    }
    
    .xin-2112-client-1 li.my-kefu-qq .client-2112-cont:before {
        background-position: -70px -94px;
    }
    
    .xin-2112-client-1 li p {
        display: block;
        height: 18px;
        line-height: 18px;
        font-size: 12px;
        color: #333;
        text-align: center;
    }
    
    .xin-2112-client-1 li.my-kefu-link a {
        animation: heart 1s ease-in-out infinite alternate;
    }
    
    .xin-2112-client-1 li.cur,
    .xin-2112-client-1 li:hover {
        background: #174778;
    }
    
    .xin-2112-client-1 li.cur.my-kefu-tel i,
    .xin-2112-client-1 li.my-kefu-tel:hover i {
        background-position: -70px 0;
    }
    
    .xin-2112-client-1 li.cur.my-kefu-link i,
    .xin-2112-client-1 li.my-kefu-link:hover i {
        background-position: -70px -47px;
    }
    
    .xin-2112-client-1 li.cur.my-kefu-qq i,
    .xin-2112-client-1 li.my-kefu-qq:hover i {
        background-position: -70px -94px;
    }
    
    .xin-2112-client-1 li.cur.my-kefu-weixin i,
    .xin-2112-client-1 li.my-kefu-weixin:hover i {
        background-position: -70px -141px;
    }
    
    .xin-2112-client-1 li.cur.my-kefu-top i,
    .xin-2112-client-1 li.my-kefu-top:hover i {
        background-position: -70px -188px;
    }
    
    .xin-2112-client-1 li.cur p,
    .xin-2112-client-1 li:hover p {
        color: #fff;
    }
    
    .xin-2112-client-1 li:hover .client-2112-cont,
    .xin-2112-client-1 li:hover .client-2112-cont-weixin {
        display: block!important;
    }

